{% macro errorList(errors) %}
	{% if errors %}
		{{ ul(errors, {class: 'errors'}) }}
	{% endif %}
{% endmacro %}


{% set label = fieldType.label|upper %}
{% set id = fieldType.fieldName|kebab %}
{% if label == 'FIRST NAME *' %}
	{% set name = 'fromName' %}
{% elseif label == 'LAST NAME *' %}
	{% set name = 'message[lastName]' %}
{% else %}
	{% set name = 'message['~ fieldType.label|replace(' *', '') ~ ']' %}
{% endif %}
{% if fieldType.required %}
	{% set isrequired = true %}
{% else %}
	{% set isrequired = false %}
{% endif %}


{% set width = fieldType.width %}
{% set forAttr = 'for-' ~ id %}

{% if width == '100%' %}
	{% set formrowclass = 'form-row full' %}
{% else %}
	{% set formrowclass = 'form-row full-mobile' %}
{% endif %}


{% tag 'div' with {
    class: formrowclass } %}

{% tag 'label' with {
    class: 'h2 form-label',
    for: id,    
} %}
{{ label }}
{{ input('text', name, '', {
    id: id,
    required: isrequired
}) }}
{{ message ? _self.errorList(message.getErrors(name)) }}


{% endtag %}
{% endtag %}
